.modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;

}

.modal_open {
    animation: open 0.5s ease-in-out forwards ;
}

.modal_closed {
    animation: close 0.5s ease-in-out forwards ;
}

@keyframes open {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    70%{
        opacity: 1;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes close {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    40%{
        opacity: 0;
        /*transform: translateY(10%);*/
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}